#arrayContainer{
	font-size:0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.arrayBlock{
	width: 15px;
	border: 1px solid blue;
	background-color: cyan;
	display:inline-block;
}
